* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #F1F1F1;
}

.app {
  background-color: #F1F1F1;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: center;
}

.columns {
  display: flex;
  justify-content: space-around;
  height: inherit;
}

.column {
  border: 1px solid #F1F1F1;
  background-color: #F1F1F1;
  border-radius: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}

.item {
  padding: 1em;
  margin: 1em;
  width: 380px;
  border-top: 4px solid green;
  border-radius: 5px;
  height: 100px;
  background-color: white;
  cursor: pointer;
}

.columnHeading {
  border-bottom: 1px solid lightgray;
}

.addNew { 
  padding: 1em;
  margin: 1em;
  width: 380px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.modalWrapper {
  height: 30%;    
  width: 30%;
  background: white;
  position: relative;
  /*z-index: 10;*/
}

.m1 {
  margin: 1em;
}

.mtl2 {
  margin-top: 2em;
  margin-left: 2em;
}

.mt0 {
  margin-top: 0px;
}

.m2 {
  margin: 2em;
  margin-top: 0.5em;
}

.p1 {
  margin: 1em;
}

input {
  width: 85%;
  height: 2em;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

.modalWrapper .actionButtons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.actionButtons > button {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid gray;
}

.actionButtons .save {
  background: green;
  color: white;
}

.actionButtons .cancel {
  background: white;
}